.horizontal-section {
  position: relative;
  background-color: $color-primary;

  &__inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    @include tablet {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__content,
  &__textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;

    @include mobile {
      row-gap: 20px;
    }
  }

  &__content {
    position: relative;
  }

  &__eyebrow {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .5px;
    text-align: center;
    text-transform: uppercase;
  }

  &__headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include font-romie;
    font-size: clamp(36px, 5.5vw, 75px);
    line-height: .9;
    text-align: center;
    text-transform: uppercase;
    color: $color-black;

    @include tablet {
      font-size: clamp(36px, 10vw, 75px);
    }

    @include mobile {
      font-size: clamp(32px, 10vw, 75px);
    }

    @include mobile-small {
      font-size: clamp(32px, 11vw, 75px);
    }

    &--feature {
      font-feature-settings: 'liga', 'dlig', 'hlig', 'calt';
    }

    .lower-case {
      text-transform: lowercase;
      font-style: italic;
    }
  }

  &__textbox {
    max-width: 420px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.4;
    color: $color-black--rgba;
  }

  &__cta {
    display: flex;
    width: 100%;

    &--center {
      justify-content: center;
    }
  }
}