* {
  box-sizing: border-box;
}

body {
  font-family: Inter,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #333;
  background-color: $color-white;
  -webkit-font-smoothing: antialiased;
}

button {
  padding: 0;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
#skip-nav {
  position: relative;
  z-index: $z-index--skip-nav;

  a {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    padding: 2px 6px 0 0;
    text-align: center;
    font-size: 13px;
    line-height: 26px;
    color: $color-white;
    white-space: nowrap;
    background-color: #333;

    &:focus {
      top: 0;
    }
  }
}

#wrap {
  min-width: 320px;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.horizontal-page {
  display: flex;
  // width: 100vw;
  height: 100dvh;
  overscroll-behavior: none;
  @include tablet {
    flex-direction: column;
    height: auto;
  }
  .header.is-open + & {
    pointer-events: none;
  }
}
.horizontal-section {
  position: relative;
  background-color: $color-primary;
  &__inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    @include tablet {
      flex-direction: column;
      align-items: stretch;
    }
  }
  &__content,
  &__textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    @include mobile {
      row-gap: 20px;
    }
  }
  &__content {
    position: relative;
  }
  &__eyebrow {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .5px;
    text-align: center;
    text-transform: uppercase;
  }
  &__headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include font-romie;
    font-size: clamp(36px, 5.5vw, 75px);
    line-height: .9;
    text-align: center;
    text-transform: uppercase;
    color: $color-black;
    &--feature {
      font-feature-settings: 'liga', 'dlig', 'hlig', 'calt';
    }
    .lower-case {
      text-transform: lowercase;
      font-style: italic;
    }
    @include tablet {
      font-size: clamp(36px, 10vw, 75px);
    }
    @include mobile {
      font-size: clamp(32px, 10vw, 75px);
    }
    @include mobile-small {
      font-size: clamp(32px, 11vw, 75px);
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    font-size: 16px;
    line-height: 1.4;
    color: $color-black--rgba;
  }
  &__cta {
    display: flex;
    width: 100%;
    &--center {
      justify-content: center;
    }
  }
}
