@mixin font-romie {
  font-family: Romie, sans-serif;
  font-weight: 400;
}
@mixin arrow($selector) {
  font-size: 0;
  line-height: 0;
  transition: font-size .3s;
  #{$selector}:hover & {
    font-size: 8vmin;
  }
  @include tablet {
    display: none;
  }
}

// media query
@mixin tablet {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin mobile-small {
  @media screen and (max-width: 479px) {
    @content;
  }
}