// @mixin horizontal-section-gutter {
//   padding: $gutter-desktop;
//   @include tablet {
//     padding: $gutter-tablet;
//   }
//   @include mobile {
//     padding: $gutter-mobile;
//   }
// }

@mixin arrow($selector) {
  overflow-x: clip;
  font-size: 0;
  line-height: 0;
  transition: font-size .3s;
  #{$selector}:hover & {
    font-size: 8vmin;
  }
}

// media query
@mixin tablet {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin mobile-small {
  @media screen and (max-width: 479px) {
    @content;
  }
}