// gutter
$gutter-desktop: 72px;
$gutter-tablet: 48px;
$gutter-mobile: 24px;

// color
$color-black: #000;
$color-black--rgba-6: rgba(0, 0, 0, .6);
$color-white: #fff;
$color-yellow-green: #dcf263;
$color-green: #52870b;
$color-brown: #aa4935;

// z-index
$z-index--header: 10;
$z-index--skip-nav: 10000;