.common-cta {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  &__title {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: $color-black;
    transition: letter-spacing .2s cubic-bezier(.165,.84,.44,1);
    // .common-cta--yellow-green & {
    //   color: $color-white;
    // }
    .common-cta:hover & {
      letter-spacing: 1px;
    }
  }
  &__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid $color-black;
    transition-property: transform;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.165,.84,.44,1);
    // .common-cta--yellow-green & {
    //   border-color: $color-yellow-green;
    // }
    .common-cta:hover & {
      transform: translateX(5px);
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scale(0);
      background-color: $color-black;
      border-radius: inherit;
      transition: inherit;
      // .common-cta--yellow-green & {
      //   background-color: $color-yellow-green;
      // }
      .common-cta:hover & {
        transform: scale(1.1);
      }
    }
    &-text {
      position: relative;
      color: $color-black;
      line-height: 1;
      transition-property: color;
      transition-timing-function: inherit;
      transition-duration: inherit;
      .common-cta:hover & {
        color: $color-white;
      }
      // .common-cta--yellow-green & {
      //   color: $color-yellow-green;
      // }
      // .common-cta--yellow-green:hover & {
      //   color: $color-black;
      // }
    }
  }
  &--yellow-green {
    .common-cta__title {
      color: $color-white;
    }
    .common-cta__icon {
      border-color: $color-yellow-green;
      &::before {
        background-color: $color-yellow-green;
      }
      &-text {
        color: $color-yellow-green;
      }
    }
    &:hover .common-cta__icon-text {
      color: $color-black;
    }
  }
}