/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

a { text-decoration: none; color: inherit; }

img { max-width: 100%; vertical-align: top; }

input, select, button { font: inherit; color: inherit; -webkit-appearance: none; border: 0; background: transparent; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: Inter,sans-serif; font-size: 14px; font-weight: 400; line-height: 20px; color: #333; }

button { cursor: pointer; }

button:focus:not(:focus-visible) { outline: none; }

#skip-nav { position: relative; z-index: 10000; }

#skip-nav a { position: absolute; top: -30px; left: 0; width: 100%; padding: 2px 6px 0 0; text-align: center; font-size: 13px; line-height: 26px; color: #fff; white-space: nowrap; background-color: #333; }

#skip-nav a:focus { top: 0; }

#wrap { min-width: 320px; }

.blind { position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip: rect(0 0 0 0); }

.common-section { position: relative; height: 100dvh; -ms-flex-negative: 0; flex-shrink: 0; max-width: 100vw; }

.common-content { position: relative; -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.common-content__inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; row-gap: 24px; }

.common-eyebrow { font-size: 12px; font-weight: 600; letter-spacing: .5px; text-align: center; text-transform: uppercase; }

.common-eyebrow-green { color: #52870b; }

.common-headline { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-family: Romie, sans-serif; font-size: clamp(36px, 5.5vw, 75px); line-height: .9; text-align: center; text-transform: uppercase; }

.common-description { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 12px; font-size: 16px; line-height: 1.4; color: rgba(0, 0, 0, 0.6); }

.common-decoration { position: absolute; pointer-events: none; }

@font-face { font-family: 'Romie'; src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f0901096610737466e5f_Romie-Regular-Italic.ttf") format("truetype"), url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f090b4507b5df57e09d7_Romie-Regular-Italic.otf") format("opentype"); font-weight: 400; font-style: italic; font-display: swap; }

@font-face { font-family: 'Itcgaramondstd '; src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f16ceb84dc05b94624d2_ITCGaramondStd-BkNarrow.otf") format("opentype"); font-weight: 400; font-style: normal; font-display: swap; }

@font-face { font-family: 'Romie'; src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f090d6f8cdc4ef704b94_Romie-Bold.otf") format("opentype"); font-weight: 700; font-style: normal; font-display: swap; }

@font-face { font-family: 'Romie'; src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f090271d5bdfb9aff6aa_Romie-Black.otf") format("opentype"); font-weight: 900; font-style: normal; font-display: swap; }

@font-face { font-family: 'Romie'; src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f090462e1ae4835721b7_Romie-Medium.otf") format("opentype"); font-weight: 500; font-style: normal; font-display: swap; }

@font-face { font-family: 'Itcgaramondstd '; src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f16cefea92c95fbf9e78_ITCGaramondStd-LtNarrow.otf") format("opentype"); font-weight: 300; font-style: normal; font-display: swap; }

@font-face { font-family: 'Romie'; src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f0902a42b97d799bd635_Romie-Regular.otf") format("opentype"); font-weight: 400; font-style: normal; font-display: swap; }

@font-face { font-family: 'Itcgaramondstd Narrow'; src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f16ceb84dc05b94624d2_ITCGaramondStd-BkNarrow.otf") format("opentype"); font-weight: 400; font-style: normal; font-display: swap; }

@font-face { font-family: 'Itcgaramondstd Narrow'; src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f16cefea92c95fbf9e78_ITCGaramondStd-LtNarrow.otf") format("opentype"); font-weight: 300; font-style: normal; font-display: swap; }

.header { position: fixed; top: 0; left: 0; z-index: 10; width: 100%; height: 77px; mix-blend-mode: difference; color: #fff; }

.header__inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; max-width: 1440px; width: 100%; height: 100%; margin: 0 auto; }

.header__title { min-width: 33%; font-size: 12px; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; }

.header__title-link { display: block; }

.header__logo { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.global-nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; min-width: 33%; }

.global-nav__menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 12px; }

.global-nav__menu-title { font-size: 12px; letter-spacing: 1px; text-transform: uppercase; }

.global-nav__menu-btn { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 5px; width: 43px; height: 43px; border-radius: 50%; border: 1px solid #fff; }

.global-nav__menu-btn-line { display: block; width: 20px; height: 1px; background-color: #fff; -webkit-transition-property: opacity, -webkit-transform; transition-property: opacity, -webkit-transform; transition-property: transform, opacity; transition-property: transform, opacity, -webkit-transform; -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); -webkit-transition-duration: 150ms; transition-duration: 150ms; }

.global-nav.is-open .global-nav__menu-btn-line:nth-child(1) { -webkit-transform: translateY(6px) rotate(45deg); transform: translateY(6px) rotate(45deg); }

.global-nav.is-open .global-nav__menu-btn-line:nth-child(2) { opacity: 0; }

.global-nav.is-open .global-nav__menu-btn-line:nth-child(3) { -webkit-transform: translateY(-6px) rotate(-45deg); transform: translateY(-6px) rotate(-45deg); }

.common-cta { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; gap: 16px; }

.common-cta__title { font-size: 13px; font-weight: 600; letter-spacing: .5px; text-transform: uppercase; color: #000; -webkit-transition: letter-spacing 0.2s cubic-bezier(0.165, 0.84, 0.44, 1); transition: letter-spacing 0.2s cubic-bezier(0.165, 0.84, 0.44, 1); }

.common-cta:hover .common-cta__title { letter-spacing: 1px; }

.common-cta__icon { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 36px; height: 36px; border-radius: 50%; border: 1px solid #000; -webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; transition-property: transform; transition-property: transform, -webkit-transform; -webkit-transition-duration: .2s; transition-duration: .2s; -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }

.common-cta:hover .common-cta__icon { -webkit-transform: translateX(5px); transform: translateX(5px); }

.common-cta__icon::before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; -webkit-transform: scale(0); transform: scale(0); background-color: #000; border-radius: inherit; -webkit-transition: inherit; transition: inherit; }

.common-cta:hover .common-cta__icon::before { -webkit-transform: scale(1.1); transform: scale(1.1); }

.common-cta__icon-text { position: relative; color: #000; line-height: 1; -webkit-transition-property: color; transition-property: color; -webkit-transition-timing-function: inherit; transition-timing-function: inherit; -webkit-transition-duration: inherit; transition-duration: inherit; }

.common-cta:hover .common-cta__icon-text { color: #fff; }

.common-cta--yellow-green .common-cta__title { color: #fff; }

.common-cta--yellow-green .common-cta__icon { border-color: #dcf263; }

.common-cta--yellow-green .common-cta__icon::before { background-color: #dcf263; }

.common-cta--yellow-green .common-cta__icon-text { color: #dcf263; }

.common-cta--yellow-green:hover .common-cta__icon-text { color: #000; }

.main__inner { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: nowrap; flex-wrap: nowrap; overscroll-behavior: none; width: 100vw; height: 100dvh; }

.section-home__inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-perspective-origin: 100%; perspective-origin: 100%; -webkit-transform-origin: 100%; transform-origin: 100%; }

.section-home__content-wrap { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; min-width: 60vw; height: 100dvh; padding: 84px 72px 72px; padding-right: clamp(24px, 20vw, 250px); background-color: #3e503a; }

.section-home__content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.section-home__content-inner { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; gap: 30px; }

.section-home__headline { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; font-family: Romie, sans-serif; font-weight: 400; font-size: clamp(32px, 9.75vmin, 100px); line-height: 1; text-transform: uppercase; text-align: right; color: #dcf263; }

.section-home__headline span { position: relative; }

.section-home__headline span:not(:nth-child(3)) { -webkit-font-feature-settings: 'liga', 'dlig', 'hlig', 'calt'; font-feature-settings: 'liga', 'dlig', 'hlig', 'calt'; }

.section-home__headline span:nth-child(1) { left: -1.5vw; }

.section-home__headline span:nth-child(2) { left: -1.05vw; }

.section-home__headline span:nth-child(3), .section-home__headline span:nth-child(5) { text-align: left; }

.section-home__description { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-item-align: stretch; align-self: stretch; max-width: 520px; font-size: 16px; line-height: 1.5; color: rgba(255, 255, 255, 0.7); }

.section-home__thumbnail { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; overflow: hidden; max-width: 1200px; width: 100vw; height: 100%; }

.section-home__thumbnail-wrap { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; height: 100dvh; background-color: rgba(238, 236, 232, 0.63); }

.section-home__thumbnail img { position: absolute; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.section-floating { background-color: rgba(238, 236, 232, 0.63); }

.section-floating::before { content: ''; position: absolute; background-color: #dcf263; top: 0; left: 0; right: 0; bottom: 0; max-width: 728px; }

.section-floating__inner { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; height: 100%; padding: 72px; }

.section-floating__image-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 72px; }

.section-floating__image { position: relative; }

.section-floating__image--main { -ms-flex-negative: 0; flex-shrink: 0; width: 85vmin; max-width: 868px; }

.section-floating__image--side { min-width: 252px; }

.section-floating__symbol { position: relative; z-index: 1; padding: 2vw; }

.section-floating__pattern { position: absolute; bottom: 0; right: 0; width: 50%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.section-floating__pattern::before { content: ''; display: block; width: 100%; height: 50%; background-color: #aa4935; }

.section-floating__pattern img { display: block; width: 100%; height: 50%; -o-object-fit: cover; object-fit: cover; }

.section-floating__secondary { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.section-floating__secondary img { width: 13vw; max-width: 205px; }

.section-floating__decoration { top: 0; right: 0; width: 540px; -webkit-transform: translate(50%, -36%); transform: translate(50%, -36%); }

.section-mansion { background-color: rgba(238, 236, 232, 0.63); }

.section-mansion__inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; }

.section-mansion .common-eyebrow { color: #52870b; }

.section-mansion .common-description, .section-mansion .common-cta { max-width: 420px; }

.section-mansion__thumbnail-wrap { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; padding: 0 140px; }

.section-mansion__thumbnail--front { position: relative; z-index: 1; max-width: 520px; }

.section-mansion__thumbnail--back { position: absolute; top: 0; right: 0; width: 50%; height: 100%; }

.section-mansion__thumbnail--back img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.section-mansion__decoration { bottom: 0; right: 0; -webkit-transform: translateX(50%); transform: translateX(50%); }
