@font-face {
  font-family: "Romie";
  src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f0901096610737466e5f_Romie-Regular-Italic.ttf") format("truetype"), url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f090b4507b5df57e09d7_Romie-Regular-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Itcgaramondstd ";
  src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f16ceb84dc05b94624d2_ITCGaramondStd-BkNarrow.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Romie";
  src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f090d6f8cdc4ef704b94_Romie-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Romie";
  src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f090271d5bdfb9aff6aa_Romie-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Romie";
  src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f090462e1ae4835721b7_Romie-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Itcgaramondstd ";
  src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f16cefea92c95fbf9e78_ITCGaramondStd-LtNarrow.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Romie";
  src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f0902a42b97d799bd635_Romie-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Itcgaramondstd Narrow";
  src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f16ceb84dc05b94624d2_ITCGaramondStd-BkNarrow.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Itcgaramondstd Narrow";
  src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f16cefea92c95fbf9e78_ITCGaramondStd-LtNarrow.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: top;
}

input, select, button {
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

button {
  padding: 0;
  cursor: pointer;
}
button:focus:not(:focus-visible) {
  outline: none;
}

img {
  display: block;
}

#skip-nav {
  position: relative;
  z-index: 20;
}
#skip-nav a {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  padding: 2px 6px 0 0;
  text-align: center;
  font-size: 13px;
  line-height: 26px;
  color: #fff;
  white-space: nowrap;
  background-color: #333;
}
#skip-nav a:focus {
  top: 0;
}

#wrap {
  min-width: 320px;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.horizontal-section {
  position: relative;
  background-color: rgba(238, 236, 232, 0.63);
}
.horizontal-section__inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 991px) {
  .horizontal-section__inner {
    flex-direction: column;
    align-items: stretch;
  }
}
.horizontal-section__content, .horizontal-section__textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}
@media screen and (max-width: 767px) {
  .horizontal-section__content, .horizontal-section__textbox {
    row-gap: 20px;
  }
}
.horizontal-section__content {
  position: relative;
}
.horizontal-section__eyebrow {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}
.horizontal-section__headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Romie, sans-serif;
  font-weight: 400;
  font-size: clamp(36px, 5.5vw, 75px);
  line-height: 0.9;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}
@media screen and (max-width: 991px) {
  .horizontal-section__headline {
    font-size: clamp(36px, 10vw, 75px);
  }
}
@media screen and (max-width: 767px) {
  .horizontal-section__headline {
    font-size: clamp(32px, 10vw, 75px);
  }
}
@media screen and (max-width: 479px) {
  .horizontal-section__headline {
    font-size: clamp(32px, 11vw, 75px);
  }
}
.horizontal-section__headline--feature {
  font-feature-settings: "liga", "dlig", "hlig", "calt";
}
.horizontal-section__headline .lower-case {
  text-transform: lowercase;
  font-style: italic;
}
.horizontal-section__textbox {
  max-width: 420px;
}
.horizontal-section__description {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.6);
}
.horizontal-section__cta {
  display: flex;
  width: 100%;
}
.horizontal-section__cta--center {
  justify-content: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 77px;
  padding: 0 72px;
  color: #fff;
  mix-blend-mode: difference;
}
@media screen and (max-width: 991px) {
  .header {
    padding: 0 48px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding: 0 24px;
  }
}
@media screen and (max-width: 479px) {
  .header {
    padding: 0 16px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    height: 74px;
  }
}
.header__nav-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.header__title {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .header__title {
    max-width: 80px;
    line-height: 1;
  }
}
.header__title a {
  display: block;
}
.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 767px) {
  .header__logo {
    display: none;
  }
}

.nav-menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.nav-menu__title {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.nav-menu__lines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  border: 1px solid #fff;
}
@media screen and (max-width: 767px) {
  .nav-menu__lines {
    width: 42px;
    height: 42px;
  }
}
.nav-menu__line {
  display: block;
  width: 20px;
  height: 1px;
  background-color: #fff;
}

.global-nav__inner {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  min-width: calc(50vw + 72px);
  height: 100dvh;
  background-color: #6a7870;
  transform: translateX(100%);
  pointer-events: none;
}
@media screen and (max-width: 991px) {
  .global-nav__inner {
    width: 100%;
  }
}
.global-nav__panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 72px;
}
@media screen and (max-width: 991px) {
  .global-nav__panel {
    padding: 48px;
  }
}
@media screen and (max-width: 767px) {
  .global-nav__panel {
    padding: 24px;
  }
}
@media screen and (max-width: 479px) {
  .global-nav__panel {
    padding: 16px;
  }
}
.global-nav__content {
  flex: 1;
  display: flex;
}
@media screen and (max-width: 767px) {
  .global-nav__content {
    padding-top: 56px;
  }
}
@media screen and (max-width: 479px) {
  .global-nav__content {
    padding-top: 46px;
  }
}
.global-nav__list {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 12px;
}
.global-nav__link {
  display: flex;
  -moz-column-gap: 36px;
       column-gap: 36px;
  color: #fff;
  transition: color 0.3s;
}
.global-nav__link:hover {
  color: #dcf263;
}
.global-nav__column--index {
  width: 16px;
}
.global-nav__column--title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  font-family: Romie, sans-serif;
  font-weight: 400;
}
.global-nav__title {
  font-size: clamp(32px, 5vmin, 55px);
  line-height: 1;
  letter-spacing: -0.05vw;
  text-transform: uppercase;
}
.global-nav__arrow {
  font-size: 0;
  line-height: 0;
  transition: font-size 0.3s;
}
.global-nav__link:hover .global-nav__arrow {
  font-size: 8vmin;
}
@media screen and (max-width: 991px) {
  .global-nav__arrow {
    display: none;
  }
}
.global-nav__dim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  opacity: 0;
  pointer-events: none;
}
@media screen and (max-width: 991px) {
  .global-nav__dim {
    display: none;
  }
}

.nav-information {
  display: flex;
  -moz-column-gap: 72px;
       column-gap: 72px;
  color: #fff;
}
@media screen and (max-width: 991px) {
  .nav-information {
    -moz-column-gap: 48px;
         column-gap: 48px;
  }
}
@media screen and (max-width: 767px) {
  .nav-information {
    -moz-column-gap: 24px;
         column-gap: 24px;
    padding-bottom: 24px;
  }
}
@media screen and (max-width: 479px) {
  .nav-information {
    -moz-column-gap: 16px;
         column-gap: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (max-width: 767px) {
  .nav-information__column {
    font-size: 12px;
    line-height: 16px;
  }
}
@media screen and (max-width: 479px) {
  .nav-information__column {
    font-size: 10px;
    line-height: 13px;
  }
}
.nav-information__title {
  font-weight: 700;
}

.section-footer {
  flex-shrink: 0;
  background-color: rgba(238, 236, 232, 0.63);
}
@media screen and (max-width: 991px) {
  .section-footer {
    z-index: 1;
  }
}
.section-footer .horizontal-section__inner {
  align-items: stretch;
  padding: 72px;
}
@media screen and (max-width: 991px) {
  .section-footer .horizontal-section__inner {
    padding: 0 0 48px;
  }
}
@media screen and (max-width: 767px) {
  .section-footer .horizontal-section__inner {
    padding-bottom: 24px;
  }
}
@media screen and (max-width: 479px) {
  .section-footer .horizontal-section__inner {
    padding-bottom: 16px;
  }
}
.section-footer__card {
  position: relative;
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 991px) {
  .section-footer__card {
    justify-content: center;
  }
}
.section-footer .horizontal-section__eyebrow {
  letter-spacing: 1px;
}
.section-footer .horizontal-section__content {
  position: relative;
  z-index: 1;
  align-items: flex-start;
  max-width: 680px;
  padding: 72px;
  color: #fff;
}
@media screen and (max-width: 991px) {
  .section-footer .horizontal-section__content {
    align-items: center;
    row-gap: 16px;
    padding: 90px 48px;
  }
}
@media screen and (max-width: 767px) {
  .section-footer .horizontal-section__content {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 479px) {
  .section-footer .horizontal-section__content {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.section-footer .horizontal-section__headline {
  font-size: clamp(32px, 7vmin, 65px);
  line-height: 1;
  text-align: left;
  color: inherit;
}
@media screen and (max-width: 991px) {
  .section-footer .horizontal-section__headline {
    font-size: clamp(32px, 7vw, 60px);
    text-align: center;
  }
}
@media screen and (max-width: 991px) {
  .section-footer .horizontal-section__cta {
    justify-content: center;
    width: auto;
  }
}
.section-footer__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.section-footer__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-footer__information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 48px;
  padding: 0 72px;
}
@media screen and (max-width: 991px) {
  .section-footer__information {
    row-gap: 48px;
    padding: 36px 48px 0;
  }
}
@media screen and (max-width: 767px) {
  .section-footer__information {
    padding: 24px 24px 0;
  }
}
@media screen and (max-width: 479px) {
  .section-footer__information {
    padding: 16px 16px 0;
  }
}
.section-footer__row {
  flex: 1;
}
.section-footer__row--top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-contact__item {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.footer-contact__item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 991px) {
  .footer-contact__item:first-child {
    border-top: none;
  }
}
.footer-contact__column--title {
  width: 18vw;
  padding: 10px 0;
}
@media screen and (max-width: 479px) {
  .footer-contact__column--title {
    width: 25vw;
  }
}
.footer-contact__column--description {
  flex: 1;
  padding: 20px 0;
}
@media screen and (max-width: 479px) {
  .footer-contact__column--description {
    padding: 10px 0;
  }
}
.footer-contact__title {
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
@media screen and (max-width: 479px) {
  .footer-contact__title {
    font-size: 10px;
  }
}
.footer-contact__description {
  font-family: Romie, sans-serif;
  font-weight: 400;
  font-size: clamp(24px, 6vmin, 48px);
  line-height: 1;
  letter-spacing: -1px;
}
.footer-contact__link {
  transition: color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.footer-contact__link:hover {
  color: #aa4935;
}

.section-footer__row--bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .section-footer__row--bottom {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;
  }
}
.footer-nav__list {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto auto auto auto auto;
  gap: 6px 24px;
}
.footer-nav__link {
  color: rgba(0, 0, 0, 0.6);
  transition: color 0.2s;
}
.footer-nav__link:hover {
  color: #aa4935;
}

.section-footer__copyright {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  row-gap: 24px;
  color: rgba(0, 0, 0, 0.6);
}
.section-footer__copyright a {
  color: #757575;
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  .section-footer__copyright {
    align-items: flex-start;
    row-gap: 8px;
  }
}
.section-footer__logo img {
  height: 91px;
}

.common-cta {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 420px;
  gap: 16px;
}
.common-cta__title {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000;
  transition: letter-spacing 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.common-cta:hover .common-cta__title {
  letter-spacing: 1px;
}
.common-cta__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #000;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.common-cta:hover .common-cta__icon {
  transform: translateX(5px);
}
.common-cta__icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0);
  background-color: #000;
  border-radius: inherit;
  transition: inherit;
}
.common-cta:hover .common-cta__icon::before {
  transform: scale(1.1);
}
.common-cta__arrow {
  position: relative;
  color: #000;
  line-height: 1;
  transition-property: color;
  transition-timing-function: inherit;
  transition-duration: inherit;
}
.common-cta:hover .common-cta__arrow {
  color: #fff;
}
.common-cta--yellow-green .common-cta__title {
  color: #fff;
}
.common-cta--yellow-green .common-cta__icon {
  border-color: #dcf263;
}
.common-cta--yellow-green .common-cta__icon::before {
  background-color: #dcf263;
}
.common-cta--yellow-green .common-cta__arrow {
  color: #dcf263;
}
.common-cta--yellow-green:hover .common-cta__arrow {
  color: #000;
}
.common-cta--silver .common-cta__title {
  color: #eeece8;
}
.common-cta--silver .common-cta__icon {
  border-color: #eeece8;
}
.common-cta--silver .common-cta__icon::before {
  background-color: #eeece8;
}
.common-cta--silver .common-cta__arrow {
  color: #eeece8;
}
.common-cta--silver:hover .common-cta__arrow {
  color: #000;
}
.common-cta--white .common-cta__title {
  color: #fff;
}
.common-cta--white .common-cta__icon {
  border-color: #fff;
}
.common-cta--white .common-cta__icon::before {
  background-color: #fff;
}
.common-cta--white .common-cta__arrow {
  color: #fff;
}
.common-cta--white:hover .common-cta__arrow {
  color: #000;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  background-color: #6a7870;
}
.loading__icon {
  opacity: 0.58;
  filter: invert(1);
}
.loading__dots {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  opacity: 0.45;
}
.loading__dot {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  animation-name: loading;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.loading__dot:nth-child(1) {
  animation-delay: 0s;
}
.loading__dot:nth-child(2) {
  animation-delay: 0.2s;
}
.loading__dot:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes loading {
  100% {
    opacity: 0;
  }
}

.horizontal-page {
  position: relative;
}

.sticky {
  position: sticky;
  top: 0;
  display: flex;
  height: 100vh;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .sticky {
    position: static;
    flex-direction: column;
    height: auto;
    overflow: visible;
  }
}
.sticky__inner {
  display: flex;
  flex-shrink: 0;
}
@media screen and (max-width: 991px) {
  .sticky__inner {
    flex-direction: column;
  }
}

.main {
  display: flex;
  flex-shrink: 0;
  height: 100%;
}
@media screen and (max-width: 991px) {
  .main {
    flex-direction: column;
    height: auto;
  }
}

.section-home .horizontal-section__inner {
  align-items: stretch;
}
.section-home__card {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 60vw;
  padding: 84px 72px 72px;
  padding-right: clamp(24px, 20vw, 250px);
  background-color: #3e503a;
}
@media screen and (max-width: 991px) {
  .section-home__card {
    justify-content: flex-start;
    width: 100%;
    height: auto;
    padding: 84px 48px 48px;
  }
}
@media screen and (max-width: 767px) {
  .section-home__card {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 479px) {
  .section-home__card {
    padding-top: 102px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.section-home__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.section-home__headline {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: Romie, sans-serif;
  font-weight: 400;
  font-size: clamp(32px, 9.75vmin, 100px);
  line-height: 1;
  text-transform: uppercase;
  text-align: right;
  color: #dcf263;
}
@media screen and (max-width: 991px) {
  .section-home__headline {
    font-size: clamp(32px, 12vw, 120px);
  }
}
@media screen and (max-width: 767px) {
  .section-home__headline {
    font-size: clamp(32px, 17vw, 120px);
  }
}
.section-home__headline span {
  position: relative;
}
.section-home__headline span:not(:nth-child(3)) {
  font-feature-settings: "liga", "dlig", "hlig", "calt";
}
.section-home__headline span:nth-child(1) {
  left: -1.5vw;
}
.section-home__headline span:nth-child(2) {
  left: -1.05vw;
}
.section-home__headline span:nth-child(3), .section-home__headline span:nth-child(5) {
  text-align: left;
}
.section-home__description {
  max-width: 520px;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
}
.section-home__thumbnail {
  position: relative;
  width: 100vw;
  max-width: 1200px;
  overflow: hidden;
  background-color: rgba(238, 236, 232, 0.63);
}
@media screen and (max-width: 991px) {
  .section-home__thumbnail {
    display: none;
  }
}
.section-home__thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-visual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48vw;
  max-width: 728px;
  height: 100%;
  background-color: #dcf263;
}
.section-visual .horizontal-section__inner {
  padding: 72px;
}
@media screen and (max-width: 991px) {
  .section-visual .horizontal-section__inner {
    padding: 48px;
  }
}
@media screen and (max-width: 767px) {
  .section-visual .horizontal-section__inner {
    padding: 24px;
  }
}
@media screen and (max-width: 479px) {
  .section-visual .horizontal-section__inner {
    padding: 16px;
  }
}
.section-visual__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 72px;
}
@media screen and (max-width: 991px) {
  .section-visual__content {
    flex-direction: column;
    gap: 0;
  }
}
@media screen and (max-width: 767px) {
  .section-visual__content {
    gap: 7vw;
  }
}
.section-visual__image {
  position: relative;
}
.section-visual__image--main {
  flex-shrink: 0;
  width: 85vmin;
  max-width: 868px;
}
@media screen and (max-width: 767px) {
  .section-visual__image--main {
    width: 100%;
  }
}
.section-visual__image--side {
  min-width: 252px;
}
.section-visual__symbol {
  position: relative;
  z-index: 1;
  padding: 2vw;
}
@media screen and (max-width: 767px) {
  .section-visual__symbol {
    padding: 24px;
  }
}
.section-visual__pattern {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.section-visual__pattern::before {
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  background-color: #aa4935;
}
.section-visual__pattern img {
  display: block;
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 991px) {
  .section-visual__secondary {
    display: flex;
    justify-content: center;
  }
}
.section-visual__secondary img {
  width: 13vw;
  max-width: 205px;
}
@media screen and (max-width: 991px) {
  .section-visual__secondary img {
    width: 15vw;
  }
}
@media screen and (max-width: 767px) {
  .section-visual__secondary img {
    width: 40vw;
    max-width: none;
    aspect-ratio: 3/2;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.section-visual__object {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  max-width: 540px;
  transform: translate(-24%, -36%);
  pointer-events: none;
}
@media screen and (max-width: 991px) {
  .section-visual__object {
    transform: translate(-54%, -36%);
  }
}

@media screen and (max-width: 991px) {
  .section-about .horizontal-section__content {
    padding: 48px 0;
  }
}
@media screen and (max-width: 767px) {
  .section-about .horizontal-section__content {
    padding: 24px;
  }
}
@media screen and (max-width: 479px) {
  .section-about .horizontal-section__content {
    padding: 48px 16px;
  }
}
.section-about .horizontal-section__eyebrow {
  color: #52870b;
}
.section-about .horizontal-section__textbox {
  margin-left: 16px;
}
@media screen and (max-width: 767px) {
  .section-about .horizontal-section__textbox {
    margin-left: 0;
  }
}
.section-about__images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 140px;
}
@media screen and (max-width: 991px) {
  .section-about__images {
    padding: 48px;
  }
}
@media screen and (max-width: 767px) {
  .section-about__images {
    padding: 24px;
  }
}
@media screen and (max-width: 479px) {
  .section-about__images {
    padding: 16px;
  }
}
.section-about__image--front {
  position: relative;
  z-index: 1;
  max-width: 520px;
  margin-top: -48px;
}
@media screen and (max-width: 991px) {
  .section-about__image--front {
    margin-top: 0;
  }
}
.section-about__image--back {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}
.section-about__image--back img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-about__object {
  position: absolute;
  bottom: 0;
  left: 30%;
  z-index: 1;
  pointer-events: none;
}
@media screen and (max-width: 991px) {
  .section-about__object {
    display: none;
  }
}

.section-collection .horizontal-section__inner {
  -moz-column-gap: 72px;
       column-gap: 72px;
  padding: 72px;
}
@media screen and (max-width: 991px) {
  .section-collection .horizontal-section__inner {
    -moz-column-gap: 48px;
         column-gap: 48px;
    padding: 48px;
  }
}
@media screen and (max-width: 767px) {
  .section-collection .horizontal-section__inner {
    -moz-column-gap: 24px;
         column-gap: 24px;
    padding: 24px;
  }
}
@media screen and (max-width: 479px) {
  .section-collection .horizontal-section__inner {
    -moz-column-gap: 16px;
         column-gap: 16px;
    padding: 16px 16px 60px;
  }
}
.section-collection .horizontal-section__content {
  padding-top: 72px;
}
@media screen and (max-width: 991px) {
  .section-collection .horizontal-section__content {
    padding: 48px 0;
  }
}
@media screen and (max-width: 767px) {
  .section-collection .horizontal-section__content {
    padding: 24px 0;
  }
}
@media screen and (max-width: 479px) {
  .section-collection .horizontal-section__content {
    padding: 48px 0;
  }
}
.section-collection .horizontal-section__eyebrow {
  color: #aa4935;
}
.section-collection__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.section-collection__link {
  display: flex;
  gap: 3.5vw;
  padding: 10px 12vw 10px 0;
  transition: color 0.3s;
}
.section-collection__link:hover {
  color: #aa4935;
}
@media screen and (max-width: 767px) {
  .section-collection__link {
    padding-right: 0;
  }
}
.section-collection__column--index {
  width: 16px;
}
.section-collection__column--title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  min-width: 67vmin;
  font-family: Romie, sans-serif;
  font-weight: 400;
}
.section-collection__index {
  font-size: 12px;
  font-weight: 600;
}
@media screen and (max-width: 479px) {
  .section-collection__index {
    font-size: 10px;
  }
}
.section-collection__title {
  font-size: 5.5vmin;
  line-height: 1;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .section-collection__title {
    font-size: 7.5vmin;
  }
}
.section-collection__arrow {
  font-size: 0;
  line-height: 0;
  transition: font-size 0.3s;
}
.section-collection__link:hover .section-collection__arrow {
  font-size: 8vmin;
}
@media screen and (max-width: 991px) {
  .section-collection__arrow {
    display: none;
  }
}

.section-history {
  background-color: #aa4935;
}
.section-history .horizontal-section__inner {
  padding: 144px 144px 72px;
}
@media screen and (max-width: 991px) {
  .section-history .horizontal-section__inner {
    padding: 120px 48px 48px;
  }
}
@media screen and (max-width: 767px) {
  .section-history .horizontal-section__inner {
    padding: 75px 24px 24px;
  }
}
@media screen and (max-width: 479px) {
  .section-history .horizontal-section__inner {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
  }
}
.section-history .horizontal-section__content {
  margin-top: -30px;
  color: #eeece8;
}
@media screen and (max-width: 991px) {
  .section-history .horizontal-section__content {
    margin-top: 0;
  }
}
.section-history .horizontal-section__headline {
  color: inherit;
}
.section-history .horizontal-section__textbox {
  margin-left: 48px;
}
@media screen and (max-width: 767px) {
  .section-history .horizontal-section__textbox {
    margin-left: 0;
  }
}
.section-history .horizontal-section__description {
  color: rgba(238, 236, 232, 0.63);
}
.section-history__images {
  padding-left: 72px;
}
@media screen and (max-width: 991px) {
  .section-history__images {
    padding: 48px;
  }
}
@media screen and (max-width: 767px) {
  .section-history__images {
    padding: 24px;
  }
}
@media screen and (max-width: 479px) {
  .section-history__images {
    padding: 60px 0 0;
  }
}
.section-history__image--front {
  position: relative;
  z-index: 1;
  max-width: 680px;
}
.section-history__image--front img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 3/2;
}
.section-history__image--back {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  max-width: 580px;
  height: 100%;
}
@media screen and (max-width: 991px) {
  .section-history__image--back {
    top: auto;
    bottom: 0;
    max-width: none;
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 767px) {
  .section-history__image--back {
    display: none;
  }
}
.section-history__image--back::after,
.section-history__image--back img {
  width: 100%;
  height: 50%;
}
@media screen and (max-width: 991px) {
  .section-history__image--back::after,
  .section-history__image--back img {
    width: 50%;
    height: 100%;
  }
}
.section-history__image--back::after {
  content: "";
  display: block;
  background-color: #6a1606;
}
.section-history__image--back img {
  -o-object-fit: cover;
     object-fit: cover;
}

.section-explore {
  z-index: 1;
}
@media screen and (max-width: 991px) {
  .section-explore {
    overflow: hidden;
  }
}
@media screen and (max-width: 767px) {
  .section-explore .horizontal-section__inner {
    padding: 0 24px;
  }
}
@media screen and (max-width: 479px) {
  .section-explore .horizontal-section__inner {
    padding: 0 16px;
  }
}
.section-explore .horizontal-section__content {
  order: 2;
  flex-shrink: 0;
  padding: 72px 72px 0 0;
}
@media screen and (max-width: 991px) {
  .section-explore .horizontal-section__content {
    padding: 48px 0;
  }
}
.section-explore .horizontal-section__eyebrow {
  color: #ff6320;
}
.section-explore .horizontal-section__textbox {
  max-width: 480px;
  margin-left: 48px;
}
@media screen and (max-width: 767px) {
  .section-explore .horizontal-section__textbox {
    margin-left: 0;
  }
}
.section-explore__thumbnail {
  order: 0;
  position: relative;
  width: 50vw;
  height: 100%;
  overflow: clip;
}
@media screen and (max-width: 991px) {
  .section-explore__thumbnail {
    width: 100vw;
    height: 60vw;
  }
}
@media screen and (max-width: 767px) {
  .section-explore__thumbnail {
    margin: 0 -24px;
  }
}
@media screen and (max-width: 479px) {
  .section-explore__thumbnail {
    margin: 0 -16px;
  }
}
.section-explore__thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-explore__decorations--before {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
  padding-top: 20px;
}
@media screen and (max-width: 991px) {
  .section-explore__decorations--before {
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 48px;
         column-gap: 48px;
    padding-top: 0;
    margin-top: -120px;
  }
}
@media screen and (max-width: 767px) {
  .section-explore__decorations--before {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media screen and (max-width: 479px) {
  .section-explore__decorations--before {
    -moz-column-gap: 16px;
         column-gap: 16px;
    margin-top: -86px;
  }
}
.section-explore__decorations--before .section-explore__decoration:nth-child(1) {
  position: relative;
  left: -72px;
  width: 340px;
}
@media screen and (max-width: 991px) {
  .section-explore__decorations--before .section-explore__decoration:nth-child(1) {
    left: auto;
  }
}
@media screen and (max-width: 767px) {
  .section-explore__decorations--before .section-explore__decoration:nth-child(1) {
    width: 55vw;
  }
}
.section-explore__decorations--before .section-explore__decoration:nth-child(2) {
  position: relative;
  left: -59px;
  width: 140px;
}
@media screen and (max-width: 991px) {
  .section-explore__decorations--before .section-explore__decoration:nth-child(2) {
    left: auto;
  }
}
@media screen and (max-width: 767px) {
  .section-explore__decorations--before .section-explore__decoration:nth-child(2) {
    width: 23vw;
  }
}
.section-explore__decorations--after {
  order: 3;
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding-bottom: 72px;
}
@media screen and (max-width: 991px) {
  .section-explore__decorations--after {
    justify-content: center;
    padding-bottom: 0;
    margin-bottom: -61px;
  }
}
@media screen and (max-width: 767px) {
  .section-explore__decorations--after {
    margin-top: 24px;
  }
}
@media screen and (max-width: 479px) {
  .section-explore__decorations--after {
    margin-top: 16px;
  }
}
.section-explore__decorations--after .section-explore__decoration {
  position: relative;
  width: 170px;
  transform: translateX(50%);
}

@media screen and (max-width: 991px) {
  .section-video {
    display: none;
  }
}
.section-video__embedded {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}
.section-video__embedded video {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}