/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

a { text-decoration: none; color: inherit; }

img { max-width: 100%; vertical-align: top; }

input, select, button { font: inherit; color: inherit; -webkit-appearance: none; border: 0; background: transparent; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing: antialiased; }

body { font-family: Inter,sans-serif; font-size: 14px; font-weight: 400; line-height: 20px; color: #333; }

button { cursor: pointer; }

button:focus:not(:focus-visible) { outline: none; }

#skip-nav { position: relative; z-index: 10000; }

#skip-nav a { position: absolute; top: -30px; left: 0; width: 100%; padding: 2px 6px 0 0; text-align: center; font-size: 13px; line-height: 26px; color: #fff; white-space: nowrap; background-color: #333; }

#skip-nav a:focus { top: 0; }

#wrap { min-width: 320px; }

.blind { position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip: rect(0 0 0 0); }

.horizontal-section__container { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: nowrap; flex-wrap: nowrap; overscroll-behavior: none; width: 100vw; height: 100dvh; }

.horizontal-section { position: relative; height: 100dvh; -ms-flex-negative: 0; flex-shrink: 0; max-width: 100vw; }

.horizontal-section__inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 100%; }

.horizontal-section__content { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; row-gap: 24px; }

.horizontal-section__content__inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.horizontal-section__eyebrow { font-size: 12px; font-weight: 600; letter-spacing: .5px; text-align: center; text-transform: uppercase; }

.horizontal-section__headline { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-family: Romie, sans-serif; font-size: clamp(36px, 5.5vw, 75px); font-weight: 400; line-height: .9; text-align: center; text-transform: uppercase; }

.horizontal-section__headline--feature { -webkit-font-feature-settings: 'liga', 'dlig', 'hlig', 'calt'; font-feature-settings: 'liga', 'dlig', 'hlig', 'calt'; }

.horizontal-section__headline .lower-case { text-transform: lowercase; font-style: italic; }

.horizontal-section__description { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 12px; max-width: 420px; font-size: 16px; line-height: 1.4; color: rgba(0, 0, 0, 0.6); }

@font-face { font-family: 'Romie'; src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f0901096610737466e5f_Romie-Regular-Italic.ttf") format("truetype"), url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f090b4507b5df57e09d7_Romie-Regular-Italic.otf") format("opentype"); font-weight: 400; font-style: italic; font-display: swap; }

@font-face { font-family: 'Itcgaramondstd '; src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f16ceb84dc05b94624d2_ITCGaramondStd-BkNarrow.otf") format("opentype"); font-weight: 400; font-style: normal; font-display: swap; }

@font-face { font-family: 'Romie'; src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f090d6f8cdc4ef704b94_Romie-Bold.otf") format("opentype"); font-weight: 700; font-style: normal; font-display: swap; }

@font-face { font-family: 'Romie'; src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f090271d5bdfb9aff6aa_Romie-Black.otf") format("opentype"); font-weight: 900; font-style: normal; font-display: swap; }

@font-face { font-family: 'Romie'; src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f090462e1ae4835721b7_Romie-Medium.otf") format("opentype"); font-weight: 500; font-style: normal; font-display: swap; }

@font-face { font-family: 'Itcgaramondstd '; src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f16cefea92c95fbf9e78_ITCGaramondStd-LtNarrow.otf") format("opentype"); font-weight: 300; font-style: normal; font-display: swap; }

@font-face { font-family: 'Romie'; src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f0902a42b97d799bd635_Romie-Regular.otf") format("opentype"); font-weight: 400; font-style: normal; font-display: swap; }

@font-face { font-family: 'Itcgaramondstd Narrow'; src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f16ceb84dc05b94624d2_ITCGaramondStd-BkNarrow.otf") format("opentype"); font-weight: 400; font-style: normal; font-display: swap; }

@font-face { font-family: 'Itcgaramondstd Narrow'; src: url("https://uploads-ssl.webflow.com/6570e8a05181277af39c19d5/6571f16cefea92c95fbf9e78_ITCGaramondStd-LtNarrow.otf") format("opentype"); font-weight: 300; font-style: normal; font-display: swap; }

.header { position: fixed; top: 0; left: 0; z-index: 10; width: 100%; height: 77px; mix-blend-mode: difference; color: #fff; }

.header__inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; max-width: 1440px; width: 100%; height: 100%; margin: 0 auto; }

.header__title { min-width: 33%; font-size: 12px; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; }

.header__title-link { display: block; }

.header__logo { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.global-nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; min-width: 33%; }

.global-nav__menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 12px; }

.global-nav__menu-title { font-size: 12px; letter-spacing: 1px; text-transform: uppercase; }

.global-nav__menu-btn { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 5px; width: 43px; height: 43px; border-radius: 50%; border: 1px solid #fff; }

.global-nav__menu-btn-line { display: block; width: 20px; height: 1px; background-color: #fff; -webkit-transition-property: opacity, -webkit-transform; transition-property: opacity, -webkit-transform; transition-property: transform, opacity; transition-property: transform, opacity, -webkit-transform; -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); -webkit-transition-duration: 150ms; transition-duration: 150ms; }

.global-nav.is-open .global-nav__menu-btn-line:nth-child(1) { -webkit-transform: translateY(6px) rotate(45deg); transform: translateY(6px) rotate(45deg); }

.global-nav.is-open .global-nav__menu-btn-line:nth-child(2) { opacity: 0; }

.global-nav.is-open .global-nav__menu-btn-line:nth-child(3) { -webkit-transform: translateY(-6px) rotate(-45deg); transform: translateY(-6px) rotate(-45deg); }

.section-footer { -ms-flex-negative: 0; flex-shrink: 0; background-color: rgba(238, 236, 232, 0.63); }

.section-footer .horizontal-section__inner { -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; padding: 72px; }

.section-footer__card { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.section-footer__card .horizontal-section__content { position: relative; z-index: 1; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; max-width: 680px; padding: 72px; color: #fff; }

.section-footer__card .horizontal-section__headline { font-size: clamp(32px, 7vmin, 65px); line-height: 1; text-align: left; }

.section-footer__card-image { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.section-footer__card-image img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.section-footer__information { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 0 72px; }

.section-footer__contact-item { display: -webkit-box; display: -ms-flexbox; display: flex; border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.section-footer__contact-item:first-child { border-top: 1px solid rgba(0, 0, 0, 0.12); }

.section-footer__contact-title { display: block; min-width: 348px; padding: 10px 0; font-family: Inter, sans-serif; font-size: 12px; font-weight: 600; letter-spacing: .5px; text-transform: uppercase; }

.section-footer__contact-description { max-width: 510px; padding: 20px 0; font-family: Romie, sans-serif; font-size: clamp(24px, 6vmin, 48px); line-height: 1; letter-spacing: -1px; }

.section-footer__contact-link { -webkit-transition: color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1); transition: color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1); }

.section-footer__contact-link:hover { color: #aa4935; }

.section-footer__nav-area { gap: 24px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.section-footer__nav-list { display: -ms-grid; display: grid; grid-auto-flow: column; -ms-grid-rows: auto auto auto auto auto; grid-template-rows: auto auto auto auto auto; gap: 6px 24px; }

.section-footer__nav-link { color: rgba(0, 0, 0, 0.6); -webkit-transition: color .2s; transition: color .2s; }

.section-footer__nav-link:hover { color: #aa4935; }

.section-footer__copyright { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; gap: 24px; }

.section-footer__copyright-text { color: rgba(0, 0, 0, 0.6); }

.section-footer__copyright-text a { color: #757575; text-decoration: underline; }

.horizontal-section__cta { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; max-width: 420px; gap: 16px; }

.horizontal-section__cta__title { font-size: 13px; font-weight: 600; letter-spacing: .5px; text-transform: uppercase; color: #000; -webkit-transition: letter-spacing 0.2s cubic-bezier(0.165, 0.84, 0.44, 1); transition: letter-spacing 0.2s cubic-bezier(0.165, 0.84, 0.44, 1); }

.horizontal-section__cta:hover .horizontal-section__cta__title { letter-spacing: 1px; }

.horizontal-section__cta__icon { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 36px; height: 36px; border-radius: 50%; border: 1px solid #000; -webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; transition-property: transform; transition-property: transform, -webkit-transform; -webkit-transition-duration: .2s; transition-duration: .2s; -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }

.horizontal-section__cta:hover .horizontal-section__cta__icon { -webkit-transform: translateX(5px); transform: translateX(5px); }

.horizontal-section__cta__icon::before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; -webkit-transform: scale(0); transform: scale(0); background-color: #000; border-radius: inherit; -webkit-transition: inherit; transition: inherit; }

.horizontal-section__cta:hover .horizontal-section__cta__icon::before { -webkit-transform: scale(1.1); transform: scale(1.1); }

.horizontal-section__cta__icon-text { position: relative; color: #000; line-height: 1; -webkit-transition-property: color; transition-property: color; -webkit-transition-timing-function: inherit; transition-timing-function: inherit; -webkit-transition-duration: inherit; transition-duration: inherit; }

.horizontal-section__cta:hover .horizontal-section__cta__icon-text { color: #fff; }

.horizontal-section__cta--yellow-green .horizontal-section__cta__title { color: #fff; }

.horizontal-section__cta--yellow-green .horizontal-section__cta__icon { border-color: #dcf263; }

.horizontal-section__cta--yellow-green .horizontal-section__cta__icon::before { background-color: #dcf263; }

.horizontal-section__cta--yellow-green .horizontal-section__cta__icon-text { color: #dcf263; }

.horizontal-section__cta--yellow-green:hover .horizontal-section__cta__icon-text { color: #000; }

.horizontal-section__cta--silver .horizontal-section__cta__title { color: #eeece8; }

.horizontal-section__cta--silver .horizontal-section__cta__icon { border-color: #eeece8; }

.horizontal-section__cta--silver .horizontal-section__cta__icon::before { background-color: #eeece8; }

.horizontal-section__cta--silver .horizontal-section__cta__icon-text { color: #eeece8; }

.horizontal-section__cta--silver:hover .horizontal-section__cta__icon-text { color: #000; }

.horizontal-section__cta--white .horizontal-section__cta__title { color: #fff; }

.horizontal-section__cta--white .horizontal-section__cta__icon { border-color: #fff; }

.horizontal-section__cta--white .horizontal-section__cta__icon::before { background-color: #fff; }

.horizontal-section__cta--white .horizontal-section__cta__icon-text { color: #fff; }

.horizontal-section__cta--white:hover .horizontal-section__cta__icon-text { color: #000; }

#main { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-negative: 0; flex-shrink: 0; }

.section-home__inner { display: -webkit-box; display: -ms-flexbox; display: flex; }

.section-home__content-wrap { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; min-width: 60vw; height: 100dvh; padding: 84px 72px 72px; padding-right: clamp(24px, 20vw, 250px); background-color: #3e503a; }

.section-home__content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; gap: 30px; }

.section-home__headline { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; font-family: Romie, sans-serif; font-weight: 400; font-size: clamp(32px, 9.75vmin, 100px); line-height: 1; text-transform: uppercase; text-align: right; color: #dcf263; }

.section-home__headline span { position: relative; }

.section-home__headline span:not(:nth-child(3)) { -webkit-font-feature-settings: 'liga', 'dlig', 'hlig', 'calt'; font-feature-settings: 'liga', 'dlig', 'hlig', 'calt'; }

.section-home__headline span:nth-child(1) { left: -1.5vw; }

.section-home__headline span:nth-child(2) { left: -1.05vw; }

.section-home__headline span:nth-child(3), .section-home__headline span:nth-child(5) { text-align: left; }

.section-home__description { max-width: 520px; font-size: 16px; line-height: 1.5; color: rgba(255, 255, 255, 0.7); }

.section-home__thumbnail { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; overflow: hidden; max-width: 1200px; width: 100vw; height: 100%; }

.section-home__thumbnail-wrap { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; height: 100dvh; background-color: rgba(238, 236, 232, 0.63); }

.section-home__thumbnail img { position: absolute; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.section-floating { background-color: rgba(238, 236, 232, 0.63); }

.section-floating::before { content: ''; position: absolute; background-color: #dcf263; top: 0; left: 0; right: 0; bottom: 0; max-width: 728px; }

.section-floating .horizontal-section__inner { padding: 72px; }

.section-floating__image-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 72px; }

.section-floating__image { position: relative; }

.section-floating__image--main { -ms-flex-negative: 0; flex-shrink: 0; width: 85vmin; max-width: 868px; }

.section-floating__image--side { min-width: 252px; }

.section-floating__symbol { position: relative; z-index: 1; padding: 2vw; }

.section-floating__pattern { position: absolute; bottom: 0; right: 0; width: 50%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.section-floating__pattern::before { content: ''; display: block; width: 100%; height: 50%; background-color: #aa4935; }

.section-floating__pattern img { display: block; width: 100%; height: 50%; -o-object-fit: cover; object-fit: cover; }

.section-floating__secondary { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.section-floating__secondary img { width: 13vw; max-width: 205px; }

.section-floating__object { position: absolute; top: 0; right: 0; width: 540px; -webkit-transform: translate(50%, -36%); transform: translate(50%, -36%); pointer-events: none; }

.section-mansion { background-color: rgba(238, 236, 232, 0.63); }

.section-mansion .horizontal-section__eyebrow { color: #52870b; }

.section-mansion__thumbnail-wrap { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; padding: 0 140px; }

.section-mansion__thumbnail--front { position: relative; z-index: 1; max-width: 520px; }

.section-mansion__thumbnail--back { position: absolute; top: 0; right: 0; width: 50%; height: 100%; }

.section-mansion__thumbnail--back img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.section-mansion__object { position: absolute; bottom: 0; right: 0; -webkit-transform: translateX(50%); transform: translateX(50%); pointer-events: none; }

.section-collection .horizontal-section__inner { -webkit-column-gap: 72px; column-gap: 72px; padding: 72px; }

.section-collection .horizontal-section__content { padding-top: 72px; }

.section-collection .horizontal-section__eyebrow { color: #aa4935; }

.section-collection__work-item { border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.section-collection__work-link { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; gap: 3.5vw; padding: 10px 12vw 10px 0; -webkit-transition: color .3s; transition: color .3s; }

.section-collection__work-link:hover { color: #aa4935; }

.section-collection__work-index-wrap { -ms-flex-negative: 0; flex-shrink: 0; }

.section-collection__work-index { font-size: 12px; font-weight: 600; }

.section-collection__work-title-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: center; -ms-flex-align: center; align-items: center; min-width: 67vmin; font-family: Romie, sans-serif; font-weight: 400; }

.section-collection__work-title { font-size: 5.5vmin; text-transform: uppercase; line-height: 1; }

.section-collection__work-arrow { overflow-x: clip; font-size: 0; line-height: 0; -webkit-transition: font-size .3s; transition: font-size .3s; }

.section-collection__work-link:hover .section-collection__work-arrow { font-size: 8vmin; }

.section-history { background-color: #aa4935; }

.section-history .horizontal-section__inner { padding: 144px 144px 72px; }

.section-history .horizontal-section__content { margin-top: -30px; color: #eeece8; }

.section-history .horizontal-section__description { color: rgba(238, 236, 232, 0.63); }

.section-history .horizontal-section__description, .section-history .horizontal-section__cta { margin-left: 48px; }

.section-history__thumbnail-wrap { padding-left: 72px; }

.section-history__thumbnail--front { position: relative; z-index: 1; max-width: 680px; }

.section-history__thumbnail--front img { width: 100%; -o-object-fit: cover; object-fit: cover; aspect-ratio: 3 / 2; }

.section-history__thumbnail--back { position: absolute; top: 0; right: 0; width: 40%; max-width: 580px; height: 100%; }

.section-history__thumbnail--back img { width: 100%; height: 50%; -o-object-fit: cover; object-fit: cover; }

.section-history__thumbnail--back::after { content: ''; display: block; width: 100%; height: 50%; background-color: #6a1606; }

.section-explore { z-index: 1; background-color: rgba(238, 236, 232, 0.63); }

.section-explore .horizontal-section__eyebrow { color: #ff6320; }

.section-explore .horizontal-section__content { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; -ms-flex-negative: 0; flex-shrink: 0; padding: 72px 72px 0 0; }

.section-explore .horizontal-section__description, .section-explore .horizontal-section__cta { max-width: 480px; margin-left: 48px; }

.section-explore__thumbnail { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; position: relative; width: 50vw; height: 100%; overflow: clip; }

.section-explore__thumbnail img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.section-explore__decoration-wrap--before { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; row-gap: 72px; padding-top: 20px; }

.section-explore__decoration-wrap--before .section-explore__decoration:nth-child(1) { position: relative; left: -72px; width: 340px; }

.section-explore__decoration-wrap--before .section-explore__decoration:nth-child(2) { position: relative; left: -59px; width: 140px; }

.section-explore__decoration-wrap--after { -webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; height: 100%; padding-bottom: 72px; }

.section-explore__decoration-wrap--after .section-explore__decoration { position: relative; -webkit-transform: translateX(50%); transform: translateX(50%); width: 170px; }

.section-video__embedded { position: relative; overflow: hidden; width: 100vw; height: 100%; }

.section-video__embedded video { display: block; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }
