.section-home {  
  &__inner {
    display: flex;
  }
  &__content {
    &-wrap {
      position: relative;
      display: flex;
      justify-content: center;
      min-width: 60vw;
      height: 100dvh;
      padding: 84px $gutter-desktop $gutter-desktop;
      padding-right: clamp(24px, 20vw, 250px);
      background-color: #3e503a;
    }
    & {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 30px;
    }
  }
  &__headline {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: Romie, sans-serif;
    font-weight: 400;
    font-size: clamp(32px, 9.75vmin, 100px);
    line-height: 1;
    text-transform: uppercase;
    text-align: right;
    color: $color-yellow-green;
    span {
      position: relative;
      &:not(:nth-child(3)) {
        font-feature-settings: 'liga', 'dlig', 'hlig', 'calt';
      }
      &:nth-child(1) {
        left: -1.5vw;
      }
      &:nth-child(2) {
        left: -1.05vw;
      }
      &:nth-child(3),
      &:nth-child(5) {
        text-align: left;
      }
    }
  }
  &__description {
    max-width: 520px;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255,255,255,.7);
  }
  &__thumbnail {
    &-wrap {
      position: relative;
      display: flex;
      height: 100dvh;
      background-color: $color-primary;
    }
    display: flex;
    position: relative;
    overflow: hidden;
    max-width: 1200px;
    width: 100vw;
    height: 100%;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.section-floating {
  background-color: $color-primary;
  &::before {
    content: '';
    position: absolute;
    background-color: $color-yellow-green;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 728px;
  }
  .common-section__inner {
    padding: $gutter-desktop;
  }
  &__image {
    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: $gutter-desktop;
    }
    & {
      position: relative;
    }
    &--main {
      flex-shrink: 0;
      width: 85vmin;
      max-width: 868px;
    }
    &--side {
      min-width: 252px;
    }
  }
  &__symbol {
    position: relative;
    z-index: 1;
    padding: 2vw;
  }
  &__pattern {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 50%;
      background-color: $color-brown;
    }
    img {
      display: block;
      width: 100%;
      height: 50%;
      object-fit: cover;
    }
  }
  &__secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 13vw;
      max-width: 205px;
    }
  }
  &__object {
    position: absolute;
    top: 0;
    right: 0;
    width: 540px;
    transform: translate(50%, -36%);
    pointer-events: none;
  }
}
.section-mansion {
  background-color: $color-primary;
  .common-section__eyebrow {
    color: $color-green;
  }
  &__thumbnail {
    &-wrap {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0 140px;
    }
    &--front {
      position: relative;
      z-index: 1;
      max-width: 520px;
    }
    &--back {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__object {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(50%);
    pointer-events: none;
  }
}
.section-collection {
  .common-section__inner {
    column-gap: $gutter-desktop;
    padding: $gutter-desktop;
  }
  .common-section__content {
    padding-top: $gutter-desktop;
  }
  .common-section__eyebrow {
    color: $color-brown;
  }
  &__work {
    &-item {
      border-bottom: 1px solid rgba(0,0,0,.12);
    }
    &-link {
      display: flex;
      justify-content: space-between;
      gap: 3.5vw;
      padding: 10px 12vw 10px 0;
      transition: color .3s;
      &:hover {
        color: $color-brown;
      }
    }
    &-index {
      &-wrap {
        flex-shrink: 0;
      }
      & {
        font-size: 12px;
        font-weight: 600;
      }
    }
    &-title {
      &-wrap {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        min-width: 67vmin;
        font-family: Romie, sans-serif;
        font-weight: 400;
      }
      & {
        font-size: 5.5vmin;
        text-transform: uppercase;
        line-height: 1;
      }
    }
    &-arrow {
      overflow-x: clip;
      font-size: 0;
      line-height: 0;
      transition: font-size .3s;
      .section-collection__work-link:hover & {
        font-size: 8vmin;
      }
    }
  }
}
.section-history {
  background-color: $color-brown;
  .common-section__inner {
    padding: ($gutter-desktop * 2) ($gutter-desktop * 2) $gutter-desktop;
  }
  .common-section__content {
    margin-top: -30px;
    color: $color-silver;
  }
  .common-section__description {
    color: $color-primary;
  }
  .common-section__description,
  .common-section__cta {
    margin-left: 48px;
  }
  &__thumbnail {
    &-wrap {
      padding-left: 72px;
    }
    &--front {
      position: relative;
      z-index: 1;
      max-width: 680px;
      img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 3 / 2;
      }
    }
    &--back {
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;
      max-width: 580px;
      height: 100%;
      img {
        width: 100%;
        height: 50%;
        object-fit: cover;
      }
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 50%;
        background-color: #6a1606;
      }
    }
  }
}
.section-explore {
  background-color: $color-primary;
  .common-section__eyebrow {
    color: $color-orange;
  }
}