.main {
  display: flex;
  flex-shrink: 0;
  @include tablet {
    flex-direction: column;
  }
}
.section-home {
  .horizontal-section__inner {
    align-items: stretch;
  }
  &__card {
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 60vw;
    padding: 84px $gutter-desktop $gutter-desktop;
    padding-right: clamp(24px, 20vw, 250px);
    background-color: $color-deep-green;
    @include tablet {
      justify-content: flex-start;
      width: 100%;
      height: auto;
      padding: 84px $gutter-tablet $gutter-tablet;
    }
    @include mobile {
      padding-left: $gutter-mobile;
      padding-right: $gutter-mobile;
    }
    @include mobile-small {
      padding-top: 102px;
      padding-left: $gutter-mobile-small;
      padding-right: $gutter-mobile-small;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
  }
  &__headline {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: Romie, sans-serif;
    font-weight: 400;
    font-size: clamp(32px, 9.75vmin, 100px);
    line-height: 1;
    text-transform: uppercase;
    text-align: right;
    color: $color-yellow-green;
    @include tablet {
      font-size: clamp(32px, 12vw, 120px);
    }
    @include mobile {
      font-size: clamp(32px, 17vw, 120px);
    }
    span {
      position: relative;
      &:not(:nth-child(3)) {
        font-feature-settings: 'liga', 'dlig', 'hlig', 'calt';
      }
      &:nth-child(1) {
        left: -1.5vw;
      }
      &:nth-child(2) {
        left: -1.05vw;
      }
      &:nth-child(3),
      &:nth-child(5) {
        text-align: left;
      }
    }
  }
  &__description {
    max-width: 520px;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255,255,255,.7);
  }
  &__thumbnail {
      position: relative;
      width: 100vw;
      max-width: 1200px;
      overflow: hidden;
      background-color: $color-primary;
      @include tablet {
        display: none;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  }
}
.section-visual {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 48vw;
    max-width: 728px;
    height: 100%;
    background-color: $color-yellow-green;
  }
  .horizontal-section__inner {
    padding: $gutter-desktop;
    @include tablet {
      padding: $gutter-tablet;
    }
    @include mobile {
      padding: $gutter-mobile;
    }
    @include mobile-small {
      padding: $gutter-mobile-small;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $gutter-desktop;
    @include tablet {
      flex-direction: column;
      gap: 0;
    }
    @include mobile {
      gap: 7vw;
    }
  }
  &__image {
    position: relative;
    &--main {
      flex-shrink: 0;
      width: 85vmin;
      max-width: 868px;
      @include mobile {
        width: 100%;
      }
    }
    &--side {
      min-width: 252px;
    }
  }
  &__symbol {
    position: relative;
    z-index: 1;
    padding: 2vw;
    @include mobile {
      padding: 24px;
    }
  }
  &__pattern {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 50%;
      background-color: $color-brown;
    }
    img {
      display: block;
      width: 100%;
      height: 50%;
      object-fit: cover;
    }
  }
  &__secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 13vw;
      max-width: 205px;
      @include tablet {
        width: 15vw;
      }
      @include mobile {
        width: 40vw;
        max-width: none;
        aspect-ratio: 3 / 2;
        object-fit: cover;
      }
    }
  }
  &__object {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 540px;
    transform: translate(-50%, -36%);
    pointer-events: none;
  }
}
.section-about {
  .horizontal-section__content {
    @include tablet {
      padding: $gutter-tablet 0;
    }
    @include mobile {
      padding: $gutter-mobile;
    }
    @include mobile-small {
      padding: 48px $gutter-mobile-small;
    }
  }
  .horizontal-section__eyebrow {
    color: $color-green;
  }
  &__images {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 $gutter-desktop;
    @include tablet {
      padding: $gutter-tablet;
    }
    @include mobile {
      padding: $gutter-mobile;
    }
    @include mobile-small {
      padding: $gutter-mobile-small;
    }
  }
  &__image {
    &--front {
      position: relative;
      z-index: 1;
      max-width: 520px;
    }
    &--back {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__object {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(50%);
    pointer-events: none;
    @include tablet {
      display: none;
    }
  }
}
.section-collection {
  .horizontal-section__inner {
    column-gap: $gutter-desktop;
    padding: $gutter-desktop;
    @include tablet {
      column-gap: $gutter-tablet;
      padding: $gutter-tablet;
    }
    @include mobile {
      column-gap: $gutter-mobile;
      padding: $gutter-mobile;
    }
    @include mobile-small {
      column-gap: $gutter-mobile-small;
      padding: $gutter-mobile-small $gutter-mobile-small 60px;
    }
  }
  .horizontal-section__content {
    padding-top: $gutter-desktop;
    @include tablet {
      padding: $gutter-tablet 0;
    }
    @include mobile {
      padding: $gutter-mobile 0;
    }
    @include mobile-small {
      padding: 48px 0;
    }
  }
  .horizontal-section__eyebrow {
    color: $color-brown;
  }
  &__item {
    border-bottom: 1px solid rgba(0,0,0,.12);
  }
  &__link {
    display: flex;
    gap: 3.5vw;
    padding: 10px 12vw 10px 0;
    transition: color .3s;
    &:hover {
      color: $color-brown;
    }
    @include mobile {
      padding-right: 0;
    }
  }
  &__column {
    &--index {
      width: 16px;
    }
    &--title {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      min-width: 67vmin;
      font-family: Romie, sans-serif;
      font-weight: 400;
    }
  }
  &__index {
    font-size: 12px;
    font-weight: 600;
    @include mobile-small {
      font-size: 10px;
    }
  }
  &__title {
    font-size: 5.5vmin;
    line-height: 1;
    text-transform: uppercase;
    @include mobile {
      font-size: 7.5vmin;
    }
  }
  &__arrow {
    @include arrow('.section-collection__link');
  }
}
.section-history {
  background-color: $color-brown;
  .horizontal-section__inner {
    padding: ($gutter-desktop * 2) ($gutter-desktop * 2) $gutter-desktop;
    @include tablet {
      padding: 120px $gutter-tablet $gutter-tablet;
    }
    @include mobile {
      padding: 75px $gutter-mobile $gutter-mobile;
    }
    @include mobile-small {
      padding-left: $gutter-mobile-small;
      padding-right: $gutter-mobile-small;
      padding-bottom: $gutter-mobile-small * 2;
    }
  }
  .horizontal-section__content {
    margin-top: -30px;
    color: $color-silver;
    @include tablet {
      margin-top: 0;
    }
  }
  .horizontal-section__headline {
    color: inherit;
  }
  .horizontal-section__description {
    color: $color-primary;
  }
  .horizontal-section__description,
  .horizontal-section__cta {
    margin-left: 48px;
    @include mobile {
      margin-left: 0;
    }
  }
  &__images {
    padding-left: 72px;
    @include tablet {
      padding: $gutter-tablet;
    }
    @include mobile {
      padding: $gutter-mobile;
    }
    @include mobile-small {
      padding: 60px 0 0;
    }
  }
  &__image {
    &--front {
      position: relative;
      z-index: 1;
      max-width: 680px;
      img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 3 / 2;
      }
    }
    &--back {
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;
      max-width: 580px;
      height: 100%;
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 50%;
        background-color: #6a1606;
        @include tablet {
          
        }
      }
      img {
        width: 100%;
        height: 50%;
        object-fit: cover;
      }
      @include tablet {
        top: auto;
        bottom: 0;
        max-width: none;
        width: 100%;
        height: 360px;
        display: flex;
        flex-direction: row-reverse;
        &::after, img {
          width: 50%;
          height: 100%;
        }
      }
      @include mobile {
        display: none;
      }
    }
  }
}
.section-explore {
  z-index: 1;
  .horizontal-section__inner {
    @include mobile {
      padding: 0 $gutter-mobile;
    }
    @include mobile-small {
      padding: 0 $gutter-mobile-small;
    }
  }
  .horizontal-section__content {
    order: 2;
    flex-shrink: 0;
    padding: $gutter-desktop $gutter-desktop 0 0;
    @include tablet {
      padding: 48px 0;
    }
  }
  .horizontal-section__eyebrow {
    color: $color-orange;
  }
  .horizontal-section__description,
  .horizontal-section__cta {
    max-width: 480px;
    margin-left: 48px;
    @include mobile {
      margin-left: 0;
    }
  }
  &__thumbnail {
    order: 0;
    position: relative;
    width: 50vw;
    height: 100%;
    overflow: clip;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include tablet {
      width: 100vw;
      height: 60vw;
    }
    @include mobile {
      margin: 0 -#{$gutter-mobile};
    }
    @include mobile-small {
      margin: 0 -#{$gutter-mobile-small};
    }
  }
  &__decorations {
    &--before {
      order: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      row-gap: $gutter-desktop;
      padding-top: 20px;
      .section-explore__decoration {
        &:nth-child(1) {
          position: relative;
          left: -72px;
          width: 340px;
          @include tablet {
            left: auto;
          }
          @include mobile {
             width: 55vw;
           }
        }
        &:nth-child(2) {
          position: relative;
          left: -59px;
          width: 140px;
          @include tablet {
            left: auto;
          }
          @include mobile {
             width: 23vw;
           }
        }
      }
      @include tablet {
        flex-direction: row;
        align-items: center;
        column-gap: $gutter-tablet;
        padding-top: 0;
        margin-top: -120px;
      }
      @include mobile {
        column-gap: $gutter-mobile;
      }
      @include mobile-small {
        column-gap: $gutter-mobile-small;
        margin-top: -86px;
      }
    }
    &--after {
      order: 3;
      display: flex;
      align-items: flex-end;
      height: 100%;
      padding-bottom: $gutter-desktop;
      @include tablet {
        justify-content: center;
        padding-bottom: 0;
        margin-bottom: -61px;
      }
      @include mobile {
        margin-top: $gutter-mobile;
      }
      @include mobile-small {
        margin-top: $gutter-mobile-small;
      }
      .section-explore__decoration {
        position: relative;
        transform: translateX(50%);
        width: 170px;
      }
    }
  }
}
.section-video {
  @include tablet {
    display: none;
  }
  &__embedded {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}